html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Change of base font-size depending on screen size */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 9px;
  }
}

body {
  font-size: 16px;
  line-height: 1.4;
  background-color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  color: #3B3B3B;
}

* h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

* h3 {
  font-size: 2rem;
}

/* Site Container */
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 32px;
}

/* The header */
header {
  position: fixed;
  height: 64px;
  width: 100%;
  padding: 0 2rem;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.95;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
}

.logo span {
  font-weight: 900;
  font-size: 2rem;
}

.mobile_menu {
  display: none;
}

#academy {
  font-weight: normal;
  color: #ADADAD; /*light grey*/
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-menu ul li {
  margin-left: 1rem;
}

.top-menu a {
  font-size: 1.3rem;
  color: #3B3B3B;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out 5ms;
  }

.top-menu a:hover {
  background-color: #3B3B3B;
  border-radius: 5px;
  padding: 2px;
  color: #F8F8FF;
}

/* The first section, Learn something new everyday */
.container .section-box:nth-child(2n+1) {
  background-color: #D4D4D4;
}

.frame-box {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 2rem 1.5rem;
  width: 100%;
}

.picture-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.picture-box img {
  width: 100%;
}

.headline-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 900;
  padding-right: 4rem;
}

.headline-box h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.start-button {
  background-color: #666666;
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  color: #F8F8FF;
  font-weight: 200;
  text-decoration: none;
  /* position: relative; */
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

/* This does not work correctly so not inluded. Should generate a shadow to the box */

/* .start-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease-in-out;
} */

.start-button:hover {
  transform: scale(1.05, 1.05);
  background-color: #3B3B3B;
}

/* .start-button:hover::after {
  opacity: 1;
} */

/*The second section of the page */
.left-container-column {
  width: 60%;
}

.quote-section {
  margin: 2rem 1.5rem 2rem 0;
}

.quote-section p {
  font-size: 1rem;
}

.quote-section.upper p {
  margin: 1.5rem 1.5rem 2.5rem 0;
}

#quoter-name {
  font-family: sans-serif;
  font-size: 1rem;
}

.infobar-column {
  width: 40%;
  border: 1px;
  margin-right: 2rem;
}

.infobar-column.upper {
  border-left: 1px solid #D4D4D4;
}

.info-pickup-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info-pickup-box.upper {
  border-bottom: 1px solid #D4D4D4;
}

.info-pickup-box:nth-child(3n+0) {
  background-color: #D4D4D4;
}

.infobar-image {
  width: 35%;
  height: auto;
  padding: 1rem;
  display: inherit;
  align-items: center;
}

.infobar-image img {
  width: 100%;
}

.infobar-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infobar-text p {
  font-size: 1rem;
  margin: 0.5rem 0
}

#read-more {
  color: #0000CD;
  text-decoration: none;
  font-size: 1rem;
}

.mobile_infobar-image {
  display: none;
}

/* The Courses section */
.courses-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.courses-section h2 {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.course-box {
  width: 25%;
  background-color: #FFFFFF;
  margin: 1rem;
}

.course-image {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.course-image img {
  width: 100%;
  height: auto;
}

#courses-textline {
  font-size: 1rem;
}

.course-description {
  margin: 1rem 1rem 1.5rem 1rem;
}

.course-description h3 {
  margin-bottom: 0.5rem;
}

.course-description p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.mobile_course-section {
  display: none;
}

/* The 4th section with video */
.thesis-section {
  display: block;
  width: 100%;
}

.thesis-section h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.thesis-inside-container {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-bottom: 2.5rem;
}

.left-container-column {
  margin: 0 1.5rem 0 1.5rem;
}

.video-box {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Special arrangements for last section */
.info-pickup-box.lower {
  background-color: #D4D4D4;
}

.quote-section.lower h3 {
  padding-bottom: 0.5rem;
}

/*The footer section */
footer {
  height: 80px;
  width: 100%;
  display: flex;
  border-top: 1px solid #D4D4D4;
  font-size: 0.8rem;
}

.foot-container {
  width:100%;
  display: inherit;
  justify-content: space-between;
  margin: 1rem 1.5rem 0 1.5rem;
}

footer i {
  margin-right: 5px;
}

.terms {
  display: inherit;
  flex-direction: row;
}

.terms li {
  margin-left: 0.5rem;
}


/*Mobile screen*/
@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

/*Header*/
  .top-menu .web_menu {
    display: none;
  }

  .top-menu .mobile_menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transform: scale(1.2);
  }

  .top-menu .logo {
    display: none
  }

/*First section*/
  .container .frame-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .picture-box {
    width: 100%;
  }

  .picture-box img {
    width: 100%;
  }

  .container .headline-box {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }

  .container .headline-box h1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .container .start-button {
    width: 90%;
    margin-bottom: 32px;
    text-align: center;
  }

  .frame-box {
    padding: 0;
  }

/*Second section*/
  .left-container-column.second {
    display: none;
  }

  .infobar-column.upper {
    width: 100%;
    margin-top: 16px;
  }

  .info-pickup-box .upper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .infobar-column.upper {
    border-left: none;
  }

  .info-pickup-box:nth-child(3n+0) {
    background-color: #FFFFFF;
  }

  .info-pickup-box {
    flex-direction: column;
    padding: 0 16px 0 16px;
  }

  .info-pickup-box.upper {
    border: none;
  }

  .infobar-image {
    display: none;
  }

  .mobile_infobar-image {
    display: inline-block;
    width: 100%;
  }

  .mobile_infobar-image img {
    width: 100%;
  }

  .infobar-text {
    width: 100%;
    padding: 1rem 1rem 4rem 1rem;
  }

  .infobar-text h3 {
    font-size: 2.2rem;
  }

  .infobar-text p {
    font-size: 1.2rem;
  }

  #read-more {
    font-size: 1.2rem;
  }

/*Third section*/
  .course-box {
    display: none;
  }

  .container .mobile_course-section {
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: 16px;
    margin-right: 16px;
  }

  .mobile_course-section h3 {
    width: 100%;
    padding: 16px 0 16px 16px;
    margin-bottom: 8px;
    background-color: #D4D4D4;
  }

  .mobile_course-section h3:nth-child(6n+0) {
    margin-bottom: 32px;
  }

  .container .section-box:nth-child(3n+0) {
    background-color: #FFFFFF;
  }

/*Fourth section*/
  .quote-section.lower {
    display: none;
  }

  .infobar-column.lower {
    display: none;
  }

  .left-container-column {
    width: 100%;
    margin: 0;
  }

  .thesis-inside-container {
    margin: 0;
  }

  .video-box {
    width: 100%;
    margin-bottom: 32px;
  }

/*Footer*/
  .foot-container {
    align-items: flex-end;
    padding-bottom: 16px;
  }

}
